::-webkit-scrollbar {
		  width: 5px;
	}
// p{
// 	font-size: 4em;
// }

.container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:0;
  margin-top: 3em;
}
.block{
  width:60%;
  margin-top: 1em;
  border-radius: 5px;
  word-wrap: break-word;

  // background-color: rgb(245,215,215);
}
.comment_block{
  max-height:200px;
  overflow-y: auto;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  margin-top: 1em;
  padding: 1em 1em;
  background-color: silver;
  border-radius: 5px;

}
.comment_input{
  width:80%;
  margin-right: 1em;
}
.comment_one{
  overflow: auto;
  width:100%;
  margin: 0;
  padding: 3px;
  font-size: 1em;
  span{word-wrap: break-word;}
  .person{color:rgb(130,170,180);}
}
.input{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.box{
  width:60%;
  padding:1em;
  display:flex;
  justify-content: center;
	align-items: stretch;
	// overflow: auto;
}
.time{
	width:15%;
	height:100%;
  font-size: 1.6em;
}
.content_block{
  padding:1em;
	padding-right: 0;
	// height:80%;
	overflow: auto;
}
.Interaction{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // border-top: 1px solid rgb(180,190,207);
  padding:0.5em 1em;
  color:gray;
}
.login-form{
  width:50%;
  padding:2em;
  margin:2em auto;
  background-color: rgb(253,230,198);
  border-radius: 5px;
}


.header{
  @extend.container;
}

.user-name{
  color:rgb(130,170,180);
}
nav{
  position:fixed;
  top:0;
  width:100%;
  font-size: 1.5em;
  padding:0.5em 0.5em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(180,190,207);
  color:rgb(234,166,94);
}
.user_header{
	width:2em;
	height:2em;
	border-radius: 50%;
}
.bar{
  display:block;
}
#menu_btn{
  background-color:rgb(130,170,180);
  color:rgb(240,196,0);
}
a{
    color:rgb(140,130,207);
}
.menu{
  position: relative;
  left:0;
  top:0;
  ul{
    font-size: 0.5em;
    visibility:hidden;
    text-align: center;
    width:100%;
    padding: 0;
    list-style: none;
    background-color:rgb(253,234,186);
    position: absolute;
    right:0;
    top:100%;
  }
}
.user_warn,.passWord_warn,.success_note{
  color:rgb(200,100,80);
}
.logout{
	margin-top: 2em;
  background-color: rgb(200,100,80);
}

#post_control{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
	position: relative;
}
#figure_btn_hide{
	width:3em;
	z-index: 1;
	opacity: 0;
}
#figure_btn{
  font-size: 2.5em;
  overflow:hidden;
  color:rgb(234,166,94);
	position:absolute;
	right:0;
}
#title{
	height:3em;
}
.title_block{
  font-size: 1.2em;
  color: rgb(130,170,180);
}
.title_warn,.content_warn{
  color: rgb(200,100,80);
}
.fig_container{
	// background-color: gray;
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding:0.5em 1em;
	.post_fig{
		width:33%;
		align-self: stretch;
	}
}
.fig_container1{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.myfig_container{
	width:30%;
		height:100%;
}
.myfig_one{
	width:100%;
	height: 100%;
	// flex-grow: 1;
}
.block1{
	@extend.block;
	flex-grow: 1;
	margin-top: 0;
	overflow: auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal_box{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0.8;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.modal_img{
		width:80%;
		// height:300px;
		position: fixed;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
