.container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:0;
}
.block{
  width:60%;
  margin:1em;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: rgb(245,215,215);
}
.comment_block{
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  margin-top: 1em;
  padding: 1em 2em;
  background-color: silver;
  border-radius: 5px;
}
.comment_input{
  width:80%;
  margin-right: 1em;
}
.comment_one{
  overflow: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin: 0;
  padding: 3px;
  font-size: 1em;
}
.input{
  width:100%;
}
.box{
  width:100%;
  display:flex;
  justify-content: center;
  .time{
    margin:1em;
    font-size: 1.5em;
  }
}
.content_block{
  padding:1em;
}
.Interaction{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // border-top: 1px solid rgb(180,190,207);
  padding:0.5em 1em;
  color:gray;
}
.login-form{
  width:50%;
  padding:2em;
  background-color: rgb(253,230,198);
  border-radius: 5px;
}

.header{
  @extend.container;
}
.app-name{
  font-size: 2em;

}
nav{
  padding:0.5em 0.5em;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(180,190,207);
  color:rgb(234,166,94);
}
.bar{
  display:block;
}
#menu_btn{
  background-color:rgb(130,170,180);
  color:rgb(240,196,0);
  font-size: 1.5em;
}
a{
    color:rgb(140,130,207);
}
.menu{
  position: relative;
  left:0;
  top:0;
  ul{
    font-size: 1em;
    visibility:hidden;
    text-align: center;
    width:100%;
    padding: 0;
    list-style: none;
    background-color:rgb(253,234,186);
    position: absolute;
    right:0;
    top:100%;
  }
}
.user_warn,.passWord_warn{
  color:rgb(200,100,80);
}
.logout{
  background-color: rgb(200,100,80);
}
.success_note{
  color: rgb(76,150,160);
  margin-left: 1em;
}
.title_block{
  font-size: 1.2em;
  color: rgb(130,170,180);
}
