@media screen and (max-width: 900px){
  .login-form{
    width:90%;
  }
  .block{
    width:90%;
  }
  .time{
    margin-right:0;
  }
  /*.myfig_container{
  	width:100px;
  	height:100px;
  }*/
  /*.block1{
    height:100px;
  }*/
.box{
  width:100%;
}
p{
	font-size: 1em;
}
}
